/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #f4f5f6;
  color: #333;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Reset */

/* header */

.container{
  background: #F72210;
  max-width: 1310px;
  height: 40px;
}

.header-news, .header-news .flex-row{
  height: 100%;
}
.header-news a{
  color: #fff;
}
.header-news svg{
  width: 132px;
  height: 20px;
  fill: #fff;
}

.header-news [class*="col"]:last-child a{
  padding: 6px;
  text-transform: uppercase;
  font-weight: bold;
  
}
.header-news .a-btn{
  background: #fff;
  color: #F72210;
}

.header-news span{
  color: #fff;
}

.header-news .col:last-child span{
  padding: 4.5px 7.5px;
}
.header-news span i{
  font-size: 18px;
}

.categories-ul{
  font-size: 21px;
}

label[for="search"]{
  background: url(../img/icon-search-glass.svg) center/contain no-repeat white;
  height: 20px;
  width: 20px;
}

input[name="search"]{
  width: 60px;
}
.categories-ul li a{
  color: #000;
  font-weight: bold;
}
.categories-ul li a:hover{
  text-decoration: none;
  color: #F72210;
}

@media only screen and (min-width: 992px){
  .container{
    height: 95px;
  }

  .header-news svg{
    width: 396px;
    height: 60px;
  }
}
/*  */