/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)

   Reset
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body {
  line-height: 1;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #f4f5f6;
  color: #333;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

/* Reset */

/* header */

.container,
.container-fluid{
  max-width: 1310px;
}
.container{
  background: #F72210;
  height: 40px;
}

.header-news, .header-news .flex-row{
  height: 100%;
}
.header-news a{
  color: #fff;
}
.header-news svg{
  width: 132px;
  height: 20px;
  fill: #fff;
}

.header-news [class*="col"]:last-child a{
  padding: 6px;
  text-transform: uppercase;
  font-weight: bold;
  
}
.header-news .a-btn{
  background: #fff;
  color: #F72210;
}

.header-news span{
  color: #fff;
}

.header-news .col:last-child span{
  padding: 4.5px 7.5px;
}
.header-news span i{
  font-size: 18px;
}

.categories-ul{
  font-size: 21px;
}

label[for="search"]{
  background: url(../img/icon-search-glass.svg) center/contain no-repeat white;
  height: 20px;
  width: 20px;
}

input[name="search"]{
  width: 60px;
}
.categories-ul li a{
  color: #000;
  font-weight: bold;
}
.categories-ul li a:hover{
  text-decoration: none;
  color: #F72210;
}

.categories-ul li:first-child{
  padding-left: 15px;
}

.text-content{
  color: rgba(3,3,3,.4);
}

.link-text{
  color: #000;
  text-decoration: none;
}

.link-orange{
  color: #F72210;
}

.category{
  bottom: 0;
  background-color: rgba(255,255,255,.9);
}

.category a{
  text-decoration: none;
  color: #F72210;
}

.h1{
  font-size: 22px;
  line-height: 24px;
}

.h3{
  font-size: 20px;
  line-height: 20px;
}
.h4{
  font-size: 17px;
  line-height: 20px;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
  text-decoration: underline #f72210;
  color: #000;
}

.list-a{
  line-height: 1.2;
  font-size: 17px;
}

.byline{
  font-size: 14px;
  line-height: 21px;
}
.list-a:hover{
  color: #f72210;
  text-decoration: none;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a{
  color: #000;
} 

article p{
  font-size: 13px;
  line-height: 1.5;
  font-family: Arial,Helvetica,sans-serif;
}

.size-img{
  width: 258px;
}

@media only screen and (min-width: 768px){
  .size-img{
    width: 135px;
  }
}

@media only screen and (min-width: 992px){
  .container{
    height: auto;
  }

  .header-news svg{
    width: 396px;
    height: 60px;
  }
}
/*  */